@import "~bootstrap/scss/bootstrap";

.center-column {
  width: 60%;
  padding-top: 2rem;
}

.message-list {
  margin-top: 2rem;
}

.flexContainer{
  margin: 10px auto;
  padding: 10px 0;
  width: 70%;
  border: 2px solid coral ;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}



